APP_SECRET=32c25f53a43e0ab14a01b2909fdb2a5c

DB_HOST=database
DB_USER={RDMS_DB_USER}
DB_PASSWORD={RDMS_DB_PASSWORD}
DB_NAME={RDMS_DB_NAME}

DATABASE_URL="postgresql://image_to_text_user:123456789@database:5432/image_to_text_db?serverVersion=16&charset=utf8"

URL_YANDEX_OCR='https://ocr.api.cloud.yandex.net/ocr/v1/recognizeText'
URL_YANDEX_IAM='https://iam.api.cloud.yandex.net/iam/v1/tokens'

###> lexik/jwt-authentication-bundle ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=4bc314ea12d2906d2c612c03b1263a73f81961d2a9f731807716e8e15327d14b
###< lexik/jwt-authentication-bundle ###
